@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #ffe0d2;
	--color-primary-100: #ffd0bd;
	--color-primary-200: #ffc0a7;
	--color-primary-300: #000000;
	--color-primary-400: #ffa07d;
	--color-primary-500: #ff8f69;
	--color-primary-600: #ff7e54;
	--color-primary-700: #fc6c40;
	--color-primary-800: #f8592b;
	--color-primary-900: #f34213;

	--color-primary: #F34213;
	--color-secondary: #3E2F5B;

	--color-themegreen: #136F63;
	--color-offwhite: #EEEEEE;
	--color-offblack: #000F08;
	--color-offblackalpha: #000F0822;
}

@source "../node_modules/flowbite-svelte/dist";

@theme {
	--color-faded-black: #000000aa;
	--color-faded-white: #ffffff66;
}